/* customTable.css */

.excellentMark {
  background-color: #0CC96E;
  color: #ffff;
}

.inputCheckbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.searchInput{
  color: black;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #6E6E78;
}
