.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 2%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left: 10px;
}

.center {
    display: flex;
    align-items: center;
}

.center button {
    margin-right: 10px;
}

.profile {
    display: flex;
    align-items: center;
}

.dashboard {
    background-color: #4C7EFF;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

.dashboard:hover {
    background-color: #4C7EFF;
    color: white;
}

.submission {
    padding: 10px 30px 10px 25px;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #6E6E78;
    color: #6E6E78;
}