.container {
  display: flex;
}

.main {
  flex: 1;
  padding: 20px;
  width: fit-content;
}

.formContainer  input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 10px;
  color: black
}
